ion-title {
  color: var(--primary);
}


ion-content {

  .name {
      margin: 8vw 5vw 5vw 5vw;
      font-size: 20px;
      color: var(--primary);
      font-weight: 600;

    &.secondary{
      font-size: 25px;
      font-weight: 600;
      color: var(--black);
    }
  }

  .wishes {
    display: flex;
    justify-content: space-around;
  }

  .emoji {
    display: flex;
    justify-content: space-around;
    margin: 5vw;

    .gray {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    div {
      zoom: 4
    }
  }
}

