<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'tabs.home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="fireworksForm">
    <div class="name secondary">{{ 'home.name' | translate }}</div>
    <div class="global-input secondary">
      <ion-input
              placeholder="{{ 'home.firstNamePlaceholder' | translate }}"
              id="firstName"
              type="text"
              formControlName="firstName"
      >
      </ion-input>
    </div>

  <div class="name secondary">{{ 'home.wishes' | translate }}</div>
  <div>
    <ion-textarea
            placeholder="{{ 'home.wishesPlaceholder' | translate }}"
            id="wishes"
            type="text"
            class="expandable-input secondary"
            formControlName="firstName"
            rows="1"
            autoGrow="true"
    >
    </ion-textarea>
    <ion-button class="secondary">{{ 'home.send' | translate }}</ion-button>
  </div>



  <ion-button class="secondary">{{ 'home.launchFireworks' | translate }}</ion-button>
  <div class="emoji">
    <div class="gray" *ngFor="let emo of emoji;" (click)="fireEmoji(emo)" [id]="emo.toString()">{{ emo }}</div>
  </div>
  </form>
</ion-content>
