<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="languages">
    <p>{{ 'settings.setLanguage' | translate }}</p>
    <div (click)="setLang('en')">🇬🇧</div>
    <div (click)="setLang('pl')">🇵🇱</div>
    <div (click)="setLang('de-CH')">🇩🇪</div>
  </div>
</ion-content>
